.cards{
    background-color:#ccc; 
    width:50%;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px 0 #555555;
    .CardContainer{
        .card{
            margin: auto;
            border-radius: 1rem;
            .cardInset{
                width: 90%;
                margin: auto;
                background-color: #ff2549;
                border-radius: 1rem;
                .cardInner{
                    margin-top: -1rem;
                    width:100%;
                    border-radius: 1rem;
                    box-shadow: 0 0px 10px 0 #555555;
                    .sideCard{
                        display: flex;
                        flex-direction: column;
                        padding-top: 1rem;
                        padding-left: 1rem;
                        p{
                            color: #ffffff;
                            font-size: 16px;
                        }
                    }
                    .baseCard{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        p{
                            color: #fff;
                            font-size: 16px;
                        }
                    }
                }
            }
            .cardContent{
                padding-left: 5%;
                h2{
                    color: #0053a1;
                    font-family: sans;
                    font-weight:bold;
                    letter-spacing: 1px;
                }
                p{
                font-size: 16px;
                font-family: sans;
                letter-spacing: 2px;
                }
                .cardIcon{
                    display: flex;
                    justify-content: baseline;
                    padding: 0;
                    P{
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }
}
.CardHolder{
    display: flex;
}